// Define your color variables
$ink: #000000;
$paper: #ffffff;
$ink-80: #1E1E1E;
$prime-darker: #182F4A;
$prime: #224268;
$prime-light: #4876AC;
$prime-lightest: #ACC8E5;
$link: #9747FF;
$accent: #226831;
$accent-lighter: #93EBAB;
