<style>
  .foot {
    background-color: $prime;
  }
</style>
<div class="foot">
  <div class="foot-logo">
    <img src="/src/imgs/logo-light.png">
  </div>
  <div class="foot-nav">
    <ul>
    {% for item in nav.foot %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
   
  </div>
  <div class="foot-copy">
     <p class="font-xs">notice: no federal agency regulates herbalist. As such all articles, recipes, and products contain on this site are for educational purposes and do not claim to heal, treat, or cure diseases. <br/> <br/> Being educated and caring for your body is both your right and responsibility, regardless of whether you are seeking advice from an herbalist, an alternative healer, a spiritualist, or a medical professional. Taking care of yourself is the most revolutionary and sassiest thing you can do.</p>
    &copy 2023 Sassy Roots Apothecary. All rights reserved.
  </div>
</div>