@import '../colors', '../type';
.foot {
  background-color: $prime;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  .foot-logo {
    max-width: 8rem;
    height: auto;
  }

  .foot-nav {
    height: 100px; /*your fixed height*/
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3; /*3 in those rules is just placeholder -- can be anything*/
    .li {
      display: inline-block; /*necessary*/
    }
    a {
      border: 0;
      color: $paper;
      &:hover {
        color: $prime-lightest
      }
    }
  }

  .foot-copy {
    width: 100%;
    color: $paper;
  }

}